@import "tailwindcss";

:root {
  --background-color: linear-gradient(to bottom right, #101419, #323c48);
  --container-bg-color: #606b65;
  --border-color: #969897;
  --text-color: #d8d4d4;
}

body {
  height: 100vh;
  background: var(--background-color);
  color: var(--text-color)
}

h2{
  font-size: 1.7rem;
}

input{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  width: 155px;
  padding: 2px 5px;
}

i{
  font-size: 1.2rem;
}

#container{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--container-bg-color);
  text-align: center;
  padding: 20px 10px 30px;
  min-width: 300px;
  width: 600px;
}

#form-button{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 2px 6px;
  transition: 0.3s;
}

#form-button:hover{
  background-color: var(--border-color);
  color: #31373e;
}

#nav-bar{
  background-color: var(--container-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  min-width: 250px;
  padding: 15px 80px;
}

.password-input{
  width: 120px;
}