@import "tailwindcss";

:root {
  --background-color: linear-gradient(to bottom right, #101419, #323c48);
  --event-bg-color: linear-gradient(to bottom right, #323c48, #252d37);
  --bad-button-color: #984140;
  --bad-button-hover-color: #ad4d4c; 
  --good-button-color: #347064;
  --good-button-hover-color: #458679; 
  --container-bg-color: linear-gradient(to bottom right, #323c48, #252d37);
  --border-color: #969897;
  --text-color: #d8d4d4;
}

body {
  height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.7rem;
}

input{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  width: 240px;
  min-width: 100px;
  padding: 2px 5px;
}

input:focus {
  outline:none;
}

i{
  font-size: 1.2rem;
}

#container{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--container-bg-color);
  text-align: center;
  padding: 20px 10px 30px;
  min-width: 280px;
  width: 600px;
}

#events-container{
  width: 55%;
  display: grid; 
  grid-template-columns: 50% 50%;
  gap: 50px;
  padding: 20px ;
}

#modal{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
}

#modal-content{
  background:var(--container-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin: 15% auto; 
  padding: 10px 14px;
  width: 600px;
  min-width: 250px;  
  height: fit-content;
}

#event{
  border: 1px solid var(--border-color);
  background: var(--event-bg-color);
  height: fit-content;
  width: 400px;
  min-width: 250px;
  border-radius: 6px;
  padding: 20px;
}

#form-button{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 2px 8px;
  transition: 0.3s;
}

#form-button:hover{
  background-color: var(--border-color);
  color: #31373e;
}

#nav-bar{
  background: var(--container-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  min-width: 280px;
  padding: 15px 80px;
}

.password-input, .time-input{
  width: 199px;
}

.edit-button{
  color: var(--good-button-color);
  transition: 0.3s;
}

.edit-button:hover{
  color: var(--good-button-hover-color);
}

.delete-button, .close-modal-button{
  color: var(--bad-button-color);
  transition: 0.3s;
}

.delete-button:hover, .close-modal-button:hover{
  color: var(--bad-button-hover-color);
}

/*
  Media queries
*/

@media (width <= 1000px) {
  #events-container{
    grid-template-rows: 100%;
  }
}